

# GridArrayQt

/*
!/.gitignore
!/.README.md
!/.test.png
!/.GridArrayQt.sln

!/GridArrayQt
/GridArrayQt/*
!/GridArrayQt/Data/
!/GridArrayQt/images/

!/GridArrayQt/*.h
!/GridArrayQt/*.cpp
!/GridArrayQt/*.pro
!/GridArrayQt/*.pri
!/GridArrayQt/*.qrc
!/GridArrayQt/*.ui
!/GridArrayQt/*.qm
!/GridArrayQt/*.ts
!/GridArrayQt/*.ini
!/GridArrayQt/*.vcxproj
!/GridArrayQt/*.vcxproj.filters

